.infoTableBox{
	background-color: #FFFFFF;
	top: 15px;
	margin-left: 1%;
    width: 48%;
	position: relative;

}
.documents_box{
	background-color: #FFFFFF;
	top: 15px;
	margin-left: 51%;
    width: 45%;
    min-width: 450px;
	position: absolute;
}

.color1 {
	background-color: #008791;
	color: white;
}
.normaltext {
	color: #008791;
	font-size: 16px;
	font-family: Verdana;
	display: inline-block;
}
#main_heading{
	color: #008791;
	font-size: 24px;
	font-family: Verdana;
}
#rowcolor {
	background-color: #DDEEF4;
}

#table_style {
	text-align: center;
	font-size:17px;
}

.boxes {
    border: 2px solid #69B39E;
    border-radius: 10px;
    background-color: #69B39E;
    width: 30%;
    height: 90px;
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 100%;
    display: inline-block;
    margin-left: 2%;
    margin-top: 25px;

    padding-bottom: 15%; /* relative size and position on page */
    position:relative;  /* coord system stop */
    top:0px;
}

.check {
	width: 15%;
    height: 20%;
	margin-top: -4%;
	margin-right: 3%;
	float: right;
    position: fixed;
    display: block;

}

#white_box {
    border: 2px solid #666666;
	background-color: #FFFFFF;
	color: #666666;
    font-weight: bold;
}

.tx
{
    width: 100%
    position: absolute;
    text-align: center;
    padding-top: 55%;
    -webkit-transform: translateY(-50%); /* child now centers itself relative to the midline based on own contents */
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Matrix(M11=0.5, M12=0, M21=0, M22=0.5, SizingMethod="auto expand")'; /*IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.5, M12=0, M21=0, M22=0.5, SizingMethod='auto expand'); /*IE6, IE7*/
    transform: translateY(-50%);
}