{% extends 'main/side-menu.html' %}

{% block content %}
{% load staticfiles %}

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
    </script>

    <form method="post">
        {% csrf_token %}
    <div class="formsBox">
        <h3 id="forms_title">Fill up the information to add a new certification:</h3>
		<br>
		<br>
    	<div class="form-group row">
    	  <label for="example-text-input" class="col-xs-2 col-form-label, embraco-font-dark-green">Supplier:</label>
    	  <div class="col-xs-10">
             {{ form.supplier }}
    	  </div>
    	</div>

        <div class="form-group row">
    	  <label for="example-text-input" class="col-xs-2 col-form-label, embraco-font-dark-green">Responsible:</label>
    	  <div class="col-xs-10">
             {{ form.responsible }}
    	  </div>
    	</div>

        <div class="form-group row">
    	  <label for="example-text-input" class="col-xs-2 col-form-label, embraco-font-dark-green">Code:</label>
    	  <div class="col-xs-10">
             {{ form.code}}
    	  </div>
    	</div>

        <div class="form-group row">
    	  <label for="example-text-input" class="col-xs-2 col-form-label, embraco-font-dark-green">Product Description:</label>
    	  <div class="col-xs-10">
             {{ form.product_description }}
    	  </div>
    	</div>

       <div class="form-group row">
    	  <label for="example-text-input" class="col-xs-2 col-form-label, embraco-font-dark-green">ECM Revision:</label>
    	  <div class="col-xs-10">
             {{ form.revision_ECM }}
    	  </div>
    	</div>

       <div class="form-group row">
    	  <label for="example-text-input" class="col-xs-2 col-form-label, embraco-font-dark-green">Last Revision:</label>
    	  <div class="col-xs-10">
             {{ form.revision_last }}
    	  </div>
    	</div>

       <div class="form-group row">
    	  <label for="example-text-input" class="col-xs-2 col-form-label, embraco-font-dark-green">Planned Steps:</label>
    	  <div class="col-xs-10">
             {{ form.planned_steps }}
    	  </div>
    	</div>

       <div class="form-group row">
    	  <label for="example-text-input" class="col-xs-2 col-form-label, embraco-font-dark-green">Date:</label>
    	  <div class="col-xs-10">
             {{ form.date }}
    	  </div>
    	</div>

       <div class="form-group row">
    	  <label for="example-text-input" class="col-xs-2 col-form-label, embraco-font-dark-green">Submission Reason:</label>
    	  <div class="col-xs-10">
             {{ form.submission_reason }}
    	  </div>
    	</div>

{% comment %}       <div class="form-group row">
    	  <label for="example-text-input" class="col-xs-2 col-form-label, embraco-font-dark-green">Other Reason:</label>
    	  <div class="col-xs-10">
             {{ form.submission_reason_other }}
    	  </div>
    	</div>{% endcomment %}

        <input type="submit" class="btn btn-ppap-form"  value="Next" />
    </form>

    <span style="float:right; margin-top:20px;"><input type="button" id="startTourBtn" class="btn btn-default" value="HELP!"/></span>


    <!-- define your tour in this file -->
    <script src="{% static 'js/certification-help.js' %}"></script>
    </div>

{% endblock %}