{% extends 'main/side-menu.html' %}

{% block content %}
{% load staticfiles %}

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<script src="{%  static 'js/form-new.js' %}"></script>

    <form method="post">
        {% csrf_token %}
    <div class="formsBox">
        <h3 id="forms_title">Fill up the information to add a new certification:</h3>
		<br>
		<br>
    	<div class="form-group row">
    	  <label class="col-xs-2 col-form-label, embraco-font-dark-green">Supplier:</label>
    	  <div class="col-xs-10">
             {{ form.supplier }}
             {{ form.supplier.errors }}
    	  </div>
    	</div>

        <div class="form-group row">
    	  <label class="col-xs-2 col-form-label, embraco-font-dark-green">Responsible:</label>
    	  <div class="col-xs-10">
             {{ form.responsible }}
             {{ form.responsible.errors }}
    	  </div>
    	</div>

        <div class="form-group row">
    	  <label class="col-xs-2 col-form-label, embraco-font-dark-green">Code:</label>
    	  <div class="col-xs-10">
             {{ form.code}}
             {{ form.code.errors}}
    	  </div>
    	</div>

        <div class="form-group row">
    	  <label class="col-xs-2 col-form-label, embraco-font-dark-green">Product Description:</label>
    	  <div class="col-xs-10">
             {{ form.product_description }}
             {{ form.product_description.errors }}
    	  </div>
    	</div>

       	<div class="form-group row">
    	  <label class="col-xs-2 col-form-label, embraco-font-dark-green">ECM Revision:</label>
    	  <div class="col-xs-10">
             {{ form.revision_ECM }}
             {{ form.revision_ECM.errors }}
    	  </div>
    	</div>

       	<div class="form-group row">
    	  <label class="col-xs-2 col-form-label, embraco-font-dark-green">Last Revision:</label>
    	  <div class="col-xs-10">
             {{ form.revision_last }}
             {{ form.revision_last.errors }}
    	  </div>
    	</div>

       	<div class="form-group row">
    	  <label class="col-xs-2 col-form-label, embraco-font-dark-green">Planned Steps:</label>
    	  <div class="col-xs-10">
             {{ form.planned_steps }}
             {{ form.planned_steps.errors }}
    	  </div>
    	</div>

       	<div class="form-group row">
    	  <label class="col-xs-2 col-form-label, embraco-font-dark-green">Date:</label>
    	  <div class="col-xs-10">
             {{ form.date }}
             {{ form.date.errors }}
    	  </div>
    	</div>

		<div class="form-group row">
    	  	<label for="id_application_method" class="col-xs-2 col-form-label, embraco-font-dark-green">Submission Reason:</label>
			<div class="col-xs-10">
			    {{form.submission_reason}}
                {{form.submission_reason.errors}}
			</div>
		</div>

        <div id="Other" class="form-group row other_option">
    	  <label class="col-xs-2 col-form-label, embraco-font-dark-green">Other Reason:</label>
    	  <div class="col-xs-10">
             {{ form.submission_reason_other }}
             {{ form.submission_reason_other.errors }}
    	  </div>
    	</div>

        <input type="submit" class="btn btn-ppap-form"  value="Next" />
    </form>

    <span style="float:right; margin-top:20px;"><input type="button" id="startTourBtn" class="btn btn-default" value="HELP!"/></span>


    <!-- define your tour in this file -->
    <script src="{% static 'js/certification-help.js' %}"></script>
    </div>

{% endblock %}