{% extends "main/side-menu.html" %}

{% block content %}
{% load staticfiles %}

	<meta charset="utf-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/form-list.css' %}">
    <script src="{%  static 'js/form-list.js' %}"></script>

	<div class="tableBox filterable" id="centerBox">
		    <h3 id="main_heading">Indexed Certifications:</h3>
            <h3 class="normaltext">Click on the button beside to filter information by column:  </h3>
            <button class="btn btn-default btn-sm btn-filter" id ="space_from_text"><span class="glyphicon glyphicon-filter"></span> Filter</button>
    {% comment %}
		<div id="searchBox">
			<h4 class="normaltext">Pesquise por palavra-chave:</h4>
			<div style="margin-top: 1%" class="form-group pull-right">
			    <input type="text" class="search form-control" placeholder="Digite a palavra aqui">
		    </div>

	    </div>
    {% endcomment %}
            <br>
            <br>
            <table class="table">
                    <thead>
                        <tr class="color1 filters">
                            <th><input id="column_style" type="text" class="form-control" placeholder="Code" disabled></th>
                            <th><input id="column_style" type="text" class="form-control" placeholder="Supplier" disabled></th>
                            <th><input id="column_style" type="text" class="form-control" placeholder="Date" disabled></th>
                            <th><input id="column_style" type="text" class="form-control" placeholder="Product Description" disabled></th>
                            <th><input id="column_style" type="text" class="form-control" placeholder="More Information" disabled></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in object_list %}
		            	    <tr class="table_row_style" id="rowcolor">
                              <td{% comment %} class="filterable-cell"{% endcomment %}>{{ item.code }}</td>
                              <td{% comment %} class="filterable-cell"{% endcomment %}>{{item.supplier}}</td>
                              <td{% comment %} class="filterable-cell"{% endcomment %}>{{ item.date }}</td>
                              <td{% comment %} class="filterable-cell"{% endcomment %}>{{ item.product_description }}</td>
                              <td{% comment %} class="filterable-cell"{% endcomment %}><a href="/certification/certification-list/{{item.pk}}/"><input type="button" class="btn btn-default" value="More" /></a></td>
		                	</tr>
                        {% endfor %}
                    </tbody>
            </table>
	</div>
{% endblock %}