{% extends "main/side-menu.html" %}

{% block content %}
{% load staticfiles %}

	<meta charset="utf-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/form-list.css' %}">


	<div class="tableBox" id="centerBox">
		<h3 id="main_heading">Indexed Certifications:</h3>

    {% comment %}
		<div id="searchBox">
			<h4 class="normaltext">Pesquise por palavra-chave:</h4>
			<div style="margin-top: 1%" class="form-group pull-right">
			    <input type="text" class="search form-control" placeholder="Digite a palavra aqui">
		    </div>

	    </div>
    {% endcomment %}
		<table class="table results">
		  <thead>
			<tr class="color1">
			  <th data-field="code" data-filter-control="select" data-sorteable="true">Code</th>
			  <th data-field="supplier" data-filter-control="select" data-sorteable="true">Supplier</th>
			  <th data-field="date" data-filter-control="select" data-sorteable="true">Date</th>
              <th>More Information</th>
			</tr>
          <br>
          <br>
		  </thead>
		  <tbody class="scrollContent">
          {% for item in object_list %}
			<tr class="table_row_style" id="rowcolor">
			  <td class="filterable-cell">{{ item.code }}</td>
			  <td class="filterable-cell">{{item.supplier}}</td>
			  <td class="filterable-cell">{{ item.date }}</td>
              <td class="filterable-cell"><a href="/certification/certification-list/{{item.pk}}/"><input type="button" class="btn btn-default" value="More" /></a></td>
			</tr>
          {% endfor %}
		  </tbody>
		</table>

	</div>
{% endblock %}