{% extends 'main/side-menu.html' %}

{% block content %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/form-new-test.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <form method="post">
        {% csrf_token %}
    <div class="formsBox">
        <h3 id="forms_title">Select the Required Documentation:</h3>
        <br>
        <div class="col-md-8">

              <div class="fancycheckbox">

                  {% for item in documents %}
                      <div class="checkbox-color">
                           <input type="checkbox" value={{ item.id }} name="documents_checkboxes[]" id="{{ item.id }}" {{ item.checkbox }}/>
                           <label for="{{ item.id }}">{{ item.document_name }}</label>
                      </div>
                  {% endfor %}
              </div>
        </div>


        <input id="bottombutton" type="submit" class="btn btn-ppap-form"  value="Submit" />
    </div>
    </form>
{% comment %}    <span style="float:right; margin-top:20px;"><input type="button" id="startTourBtn" class="btn btn-default" value="HELP!"/></span>

    <!-- define your tour in this file -->
    <script src="{% static 'js/certification-help.js' %}"></script>{% endcomment %}


{% endblock %}