.char-table-outer {
    padding: 50px 0px 0px 0px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
}
table, th, td {
    border: 1px solid #FFFFFF;
}
th {
    background-color: #008791;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    text-align: center;
}
td {
    padding: 5px 5px 5px 5px;
    background-color: #DDEEF4;
    color: #008791;
    font-size: 16px;
    font-family: Verdana;
}
td:first-child{
    background-color: #008791;
    color: #FFFFFF;
    text-align: center;
}
thead{
    display:block;
    position: relative;
}
tbody{
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
.char-col-1 {
    min-width: 30px;
    max-width: 30px;
}
.char-col-2 {
    min-width: 200px;
    max-width: 200px;
}
.char-col-3, .char-col-4, .char-col-5, .char-col-6, .char-col-7, .char-col-8 {
    min-width: 100px;
    max-width: 100px;
}
.char-col-9 {
    min-width: 160px;
    max-width: 160px;
}
.char-col-10 {
    min-width: 100px;
    max-width: 100px;
}