/* Esta atualamente comentado pois é necessário definir de forma global as alterações nas caracteristicas da table.*/


/*
.tableBox {
	height: 400px;
	background-color: #FFFFFF;
	top: 2px;
	float: middle;
	position: relative;
}

#centerBox {
	margin: auto;
    width: 80%;
}

.color1 {
	background-color: #008791;
	color: white;
}
.normaltext {
	color: #008791;
	font-size: 16px;
	font-family: Verdana;
	display: inline-block;
}
#main_heading{
	color: #008791;
	font-size: 24px;
	font-family: Verdana;
}
#rowcolor {
	background-color: #DDEEF4;
}

!*#searchBox {
	width: 45%;
	height: 11%;
	float: left;
}*!

tr th {
	text-align: center;
}


!*.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}*!

#table_style {
	text-align: center;
	font-size:17px;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    height: 450px;
    overflow-y: auto;
}


tbody td, thead th {
	width: 25%;
    float: left;
}*/
